/*General page styling*/
*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
/*Title thing styles*/
.title-holder{
    border: 2px solid red;
    height: 50px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Grid styling*/
.grid-container{
    height: 500px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.grid{
    border: 5px solid rgb(206, 50, 50);
    border-radius: 10px;
    background-color: rgb(204, 192, 192);
    width: 50%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
}
.grid-cell{
    border: 2px solid black;
    background-color: white;
}